
.imgStyle{
    @apply bg-gradient-to-r from-gray-700 to-orange-500 rounded-l-md;
    position: relative;
    overflow: hidden;
}

.cartoonImg{
    background: url('/assets/logo-shinobi-.png') no-repeat;
    position:static;
    bottom: 0;left: 60;top:0;
    width: 98%;
    height: 98%;
    background-size:contain;
    background-position: 50% 100px;
    z-index: 0;
}

.shuriken_one{
    background: url('/assets/shuriken_1.png') no-repeat;
    position: absolute;
    top: 55%; left: 0%;
    width: 30px;
    height: 80px;
    background-size: contain;
    z-index: 2;
    transform: translateX(100%);
    animation: shuriken_one 2s ease-in .1s infinite;
}

/* .shuriken_two{
    background: url('/assets/shuriken_2.png') no-repeat;
    position: absolute;
    top: 10%;left: 100%;
    width: 50px;
    height: 50px;
    background-size: contain;
    z-index: 0;
    transform: translateX(290%);
    animation: shuriken_two 1s ease-in .9s infinite;
} */

/* css keyframes */
@keyframes shuriken_one {
    0% {
        transform: translateX(0%) rotate(0deg);
    }

    100% {
        transform: translateX(1500%) rotate(360deg);
    }
}

/* @keyframes shuriken_two {
    0% {
        transform: translateX(0%) rotate(0deg);
    }

    100% {
        transform: translateX(-999%) rotate(360deg);
    }
} */